body {
    background: #464d59;
    font-family: 'Pangolin', cursive;

 }


h1  {
	font-size: 54;
 }

 h4  {
 	font-size: 54;
 }


 img{
 	width:400px
  border-radius 10px;

 }
 
img {
      display: block;
      height: 275px;
      width:  auto;
      border-radius: 15px;
}

#title  {
	background:  #2196F3;
    width:  600px;
  border-radius: 10px;
}

#main {
       background:white ;
       width: 500px;
       height: 350px;
       border-radius: 15px;

}  



 #main p {
  color: yellow;
  }


 

h2 {
    padding: 5px;
}
h1 {
    padding: 5px;
}
 
p {
   
margin:  10px;
}